@tailwind base;

@tailwind components;

@tailwind utilities;

// tailwind.config.js
module.exports = {
  theme: {},
  variants: {},
  plugins: [],
}
module.exports = {
  plugins: [
    // ...
    require('tailwindcss'),
    require('autoprefixer'),
    // ...
  ]
}